header {
	top: 0;
	width: 100%;
	/* background: #3779ec; */
	height: 90px;
	overflow: hidden;
	line-height: 90px;
}

input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  padding: 10px;
}

/* def */

.tel_val {
  background-color: rgb(120, 150, 180);
	-moz-border-radius: 1em 4em 1em 4em;
	border-radius: 1em 1em 5em 1em;
	padding: 0.5em; /* place between border and content*/
	margin: 0.5em; /* place between border and environment*/
}

.value_controls {
  position: absolute;
}

.remove_value, .add_value, .submit_telegram {
  left: 61.5em;
  bottom: 13em;
}

.interface {
    background-color: rgb(160, 180, 200);
	-moz-border-radius: 1em 4em 1em 4em;
	border-radius: 1em 1em 1em 1em;
	padding: 0.5em; /* place between border and content*/
	margin: 0.5em; /* place between border and environment*/	
}

.protocol.selected {
    background-color: rgb(148, 172, 148);
    border-radius: 1em 1em 1em 1em;
    padding: 0.5em;
}

.protocol {
    background-color: rgb(240, 240, 240);
    border-radius: 1em 1em 1em 1em;
    padding: 0.5em;
}

.telegram.selected {
    background-color: blue;
}

.edit_local_port, .edit_remote_port {
    width: 50px;
}

.edit_remote_ip {
    width: 80px;
}

/* watch */

.watch_telegram.selected {
    background-color: blue;
}

.protocol.watch_active {
    background-color: rgb(148, 172, 148);
}